.main
{
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color: #000000;
    align-items: center;
    color: #FFFFFF;
    font-size: 20px;
}
.main > .selected {
    background: rgb(102, 5, 86);
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 10px 0 10px;
}
.main img {
    height: 1cm;
    width:2cm;
    background-color: #FFFFFF;
}
.main div
{
    cursor: pointer;
}
.sign-up{
    color:blue;
    cursor: pointer;
}
mat-icon{
    color:rgb(198, 198, 212);
}