.main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: #020303;
    color: rgb(114, 15, 207);
    height: 51px;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}

