
<ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
        <div class="wrapper">
            <img [src]="images[0]">
        </div>

    </ng-template>
    <ng-template ngbSlide>
        <div class="wrapper">
            <img [src]="images[1]">
        </div>

    </ng-template>
    <ng-template ngbSlide>
        <div class="wrapper">
            <img [src]="images[2]">
        </div>

    </ng-template>
    <ng-template ngbSlide>
        <div class="wrapper">
            <img [src]="images[3]">
        </div>

    </ng-template>
    <ng-template ngbSlide>
        <div class="wrapper">
            <img [src]="images[4]">
        </div>

    </ng-template>
    <ng-template ngbSlide>
        <div class="wrapper">
            <img [src]="images[5]">
        </div>

    </ng-template>
</ngb-carousel>



<div class="explore-menu-section pt-5 pb-5" id="exploreMenuSection">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="menu-section-heading">PlayList</h2>
            </div>
            <div class="col-12 col-md-6 col-lg-3 pointer" (click)="gotoLogin()">
                
                <div class="shadow menu-item-card p-3 mb-3">
                    <a href= "../../../assets/audio/video2.mp4">
                    <img src="../../../assets/images/nazm nazm sa mere.jpeg" class="menu-item-image w-100" />
                    <h1 class="menu-card-title">Barelly ki Barfi</h1>
                    </a>
                </div>
            </div>

                <div class="col-12 col-md-6 col-lg-3 pointer" >
                    <div class="shadow menu-item-card p-3 mb-3">
                        <a href= "../../../assets/audio/breakup.mp4">
                        <img src="../../../assets/images/breakup.jpg" class="menu-item-image w-100" />
                        <h1 class="menu-card-title">Ae Dil Hai Mushkil</h1>
                        </a>
                </div>
                </div>
               
                <div class="col-12 col-md-6 col-lg-3 pointer" >
                    <div class="shadow menu-item-card p-3 mb-3">
                        <a href= "../../../assets/audio/ved.mp4">
                        <img src="../../../assets/images/ved.jpeg" class="menu-item-image w-100" />
                        <h1 class="menu-card-title">Ved</h1>
                        </a>
                </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3 pointer" >
                    <div class="shadow menu-item-card p-3 mb-3">
                        <a href= "../../../assets/audio/kolavari.mp4">
                        <img src="../../../assets/images/kolavari.jpeg" class="menu-item-image w-100" />
                        <h1 class="menu-card-title">kolavari</h1>
                        </a>
                </div>
                </div>
             
                <div class="col-12 col-md-6 col-lg-3 pointer" >
                    <div class="shadow menu-item-card p-3 mb-3">
                        <a href= "../../../assets/audio/ye dosti.mp4">
                        <img src="../../../assets/images/ye dosti.jpeg" class="menu-item-image w-100" />
                        <h1 class="menu-card-title">sholey</h1>
                        </a>
                </div>
                </div>
               